/*
// Verwendung von extend
.blue_button {   //%
  background: #336699;
  display: block;
  font-weight: bold;
  color: white;
  padding: 5px;
  margin-bottom: 20px;
  min-width: 150px;
}


.login_button {
  @extend .blue_button;  //%
}

.checkout_button {
  @extend .blue_button;  //%
  color: darken(#336699, 30%);
}

.order_button {
  @extend .blue_button;  //%
  color: rgb(255,0,0);
}*/




// Verwendung von Mixin
@mixin blue_button {
  background: #336699;
  display: block;
  font-weight: bold;
  color: white;
  padding: 5px;
  margin-bottom: 20px;
  min-width: 150px;
}

.login_button {
  @include blue_button;
}

.checkout_button {
  @include blue_button;
  color: darken(#336699, 30%);
}

.order_button {
  @include blue_button;
  color: rgb(255,0,0);
}


