
/*
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*/

.wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    width: 300px;
}

.aussen-box{
    background-color: yellow;
    border: 1px solid red;
    margin: 0;
    height: 400px;
    padding: 0;
    width: 400px;
}

.inner-box{
    background-color: green;
    border: 4px solid black;
    height: 92px;
    margin: 0px auto;
    padding: 0 0;
    width: 100px;
}

/*.inner-box{
    background-color: green;
    border: 4px solid black;
    height: 25%;
    margin: 0px auto;
    padding: 0 0;
    width: 100px;
}*/

.inner-box p {
    margin: 0;
    text-align: center;
}
