
header {
    height: 100px;
    background-color: red;
}


nav, article, aside {
    float: left;
    /*min-height: calc(100vh - 200px);*/
}

/*
main{
    background-color: orange;
}*/

nav {
    background-color: orange;
    width: 20%;
}

article {
    background-color: yellow;
    width: 60%;
}

aside {
    background-color: deepskyblue;
    width: 20%;
}

.clearfix{
    clear: both;
}

/* andere Möglichkeit für den clearfix, ohne zusätzliches HTML Element */
/*.clearfix:after{
    content: "";
    display: table;
    clear: both;
}*/

footer {
    height: 100px;
    background-color: green;
}
