.wrapper{
    width: 100%;
}

header, footer{
    background-color: rgb(200,0,0);
    height: 50px;
    padding: 10px 0;
    text-align: center;
}

nav{
    background-color: rgb(0,0,0);
    color: #FFFFFF;
    padding: 5px 0;
}

nav ul{
    display: none;
}

.hamburger-navi {
    margin-left: 16px;
    width: 10%;
}

main, aside{
    height: 200px;
    padding: 10px 0;
    text-align: center;
}

main {
    background-color: rgb(220,220,220);
}

aside {
    background-color: rgb(180,180,180);
}



/* ab hier für grosse Bildschirme */
@media screen and (min-width: 740px) {

    .wrapper{
        max-width: 960px;
        width: 100%;
        margin: 0 auto;

    }

    .clearfix{
        clear: both;
    }

    .hamburger-navi{
        display: none;
    }

    nav ul{
        display: block;
        margin: 0;
        padding: 0;
    }

    nav ul li{
        list-style-type: none;
        float: left;
        padding: 0;
    }

    nav ul li:not(:last-of-type)::after{
        content: "|";
    }

    nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
        padding: 2px 10px 2px 10px;
    }

    nav ul li a:hover{
        color: rgb(0,255,100);
    }

    main, aside{
        float: left;
    }

    main {
        width: 70%;
    }

    aside {
        width: 30%;
    }
}


